/* allgemein */

@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&family=Dosis:wght@200..800&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Teko:wght@300..700&display=swap');

/* .comfortaa-<uniquifier> {
  font-family: "Comfortaa", sans-serif;
} */

/* .teko-<uniquifier> {
  font-family: "Teko", sans-serif;
}
 */

/* .dosis-<uniquifier> {
  font-family: "Dosis", sans-serif;
} */

/* 
.kanit-regular {
    font-family: "Kanit", sans-serif;
  } */

body {
    font-family: "Comfortaa", sans-serif;
    display: grid;
    width: auto;
    height: auto;
    grid-template-columns: repeat(5, 1fr) 150px;
    grid-template-rows: repeat(6, 1fr) 150px;
    grid-template-areas:
        "h1     h1      h1      .       .       nav     "
        "main   main    main    main    main    .       "
        "main   main    main    main    main    .       "
        "main   main    main    main    main    .       "
        "main   main    main    main    main    .       "
        "main   main    main    main    main    .       "
        ".      copy    copy    copy    .       footer  "
    ;
    gap: 2%;
    margin: 2%;
    padding: 10px;
    background: linear-gradient(90deg, rgba(178, 221, 253, 0.4) 70%, rgba(93, 163, 196, 0.7));
    box-sizing: border-box;
}


/* sektionen allgemein */

h1,
nav,
footer,
.copy,
.icon {
    display: flex;
}


nav,
footer {
    background-color: transparent;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
}

.icon {
    border-radius: 5px;
    background-color: rgb(219, 235, 248);
    justify-content: center;
    align-items: center;
    min-width: 50px;
    min-height: 50px;
    font-size: 1.8rem;
    border: 5px solid transparent;
}

.copy {
    grid-area: copy;
    justify-content: center;
    align-items: center;
    color: #646363;
}

footer {
    grid-area: footer;
}


/* sektionen */


h1 {
    color: #5b6a6e;
    text-shadow: 2px 2px 5px black;
    grid-area: h1;
    justify-content: center;
    align-items: center;
    font-size: 5rem;
    margin: 0;

}

nav {
    grid-area: nav;
}

main {
    grid-area: main;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(2, 1fr) 2fr repeat(2, 1fr) 2fr repeat(2, 1fr);
    grid-template-areas:
        "img1   .       img5    .       img9    "
        "img1   img3    img5    img7    img9    "
        "img1   img3    img5    img7    img9"
        ".      img3    .       img7    .       "
        ".      img4    .       img8    .       "
        "img2   img4    img6    img8    img10   "
        "img2   img4    img6    img8    img10   "
        "img2   .       img6    .       img10   "
    ;
    column-gap: 2%;
    row-gap: 4%;
}


.images {
    width: 100%;
    height: auto;
    overflow: hidden;
    border-radius: 30px;
    box-shadow: 17px 17px 34px #646363,
        -17px -17px 34px #ffffff;
    transform: scale(1);
    transition: all 0.3s linear;
}

img {
    width: 100%;
    opacity: 0.6;
}


.img1 {
    grid-area: img1;
}

.img2 {
    grid-area: img2;
}

.img3 {
    grid-area: img3;
}

.img4 {
    grid-area: img4;
}

.img5 {
    grid-area: img5;
}

.img6 {
    grid-area: img6;
}

.img7 {
    grid-area: img7;
}

.img8 {
    grid-area: img8;
}

.img9 {
    grid-area: img9;
}

.img10 {
    grid-area: img10;
}


img:hover {
    opacity: 1;

}

.images:hover{
    width: 100%;
    z-index: 10;
    transform: scale(1.5);
    box-shadow: 0px 0px 61px 80px rgba(0,0,0,0.75);

} 

.icon:hover {
    border: 5px solid aliceblue;
    
}


@media (max-width: 1100px) {
    body {
        display: flex;
        flex-direction: column;
        gap: 30px;
    }

    main {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        gap: 50px;
    }

    .images {
        width: 40%;
        gap: 50px;
        display: flex;
        min-width: 250px;
    }

    img {
        width: 100%;
    }

    .images:hover {
        opacity: 1;
        width: 50%;
        transform: scale(1);
        box-shadow: 0px 0px 61px 30px rgba(0,0,0,0.75);
    }
}