/* allgemein */

@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&family=Dosis:wght@200..800&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Teko:wght@300..700&display=swap');

/* .comfortaa-<uniquifier> {
  font-family: "Comfortaa", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
} */

/* .teko-<uniquifier> {
  font-family: "Teko", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}
 */

/* .dosis-<uniquifier> {
  font-family: "Dosis", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
} */

/* 
.kanit-regular {
    font-family: "Kanit", sans-serif;
    font-weight: 400;
    font-style: normal;
  } */

body {
    font-family: "Comfortaa", sans-serif;
    display: grid;
    width: auto;
    height: auto;
    grid-template-columns: repeat(5, 1fr) 150px;
    grid-template-rows: repeat(6, 1fr) 150px;
    grid-template-areas:
        "h1     h1      h1      .       .       nav     "
        "main   main    main    main    main    .       "
        "main   main    main    main    main    .       "
        "main   main    main    main    main    .       "
        "main   main    main    main    main    .       "
        "main   main    main    main    main    .       "
        ".      copy    copy    copy    .       footer  "
    ;
    gap: 2%;
    margin: 2%;
    padding: 10px;
    background-color: aliceblue;

}


/* sektionen allgemein */

h1,
nav,
footer,
.copy,
.icon {
    display: flex;
}


nav,
footer {
    background-color: transparent;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
}

.icon {
    border-radius: 5px;
    background-color: rgb(219, 235, 248);
    justify-content: center;
    align-items: center;
    min-width: 50px;
    min-height: 50px;
    font-size: 1.8rem;
}

/* sektionen */

h1 {
    background-color: ;
    grid-area: h1;
    justify-content: center;
    align-items: center;
    font-size: 5rem;
    margin: 0;

}

nav {
    grid-area: nav;
}

main {
    grid-area: main;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(2, 1fr) 2fr repeat(2, 1fr) 2fr repeat(2, 1fr);
    grid-template-areas:
        "img1   .       img5    .       img9    "
        "img1   img3    img5    img7    img9    "
        "img1   img3    img5    img7    img9"
        ".      img3    .       img7    .       "
        ".      img4    .       img8    .       "
        "img2   img4    img6    img8    img10   "
        "img2   img4    img6    img8    img10   "
        "img2   .       img6    .       img10   "
    ;
    column-gap: 2%;
    row-gap: 4%;
}

.copy {
    grid-area: copy;
    justify-content: center;
    align-items: center;
}

footer {
    grid-area: footer;
}

.images {
    width: 100%;
    height: auto;
    overflow: hidden;
    border-radius: 30px;
    /* background: rgba(0, 0, 0, 0.6); */
    box-shadow: 17px 17px 34px #646363,
        -17px -17px 34px #ffffff;
}

img {
    width: 100%;
    opacity: 0.6;
}

.img1 {
    grid-area: img1;
}

.img2 {
    grid-area: img2;
}

.img3 {
    grid-area: img3;
}

.img4 {
    grid-area: img4;
}

.img5 {
    grid-area: img5;
}

.img6 {
    grid-area: img6;
}

.img7 {
    grid-area: img7;
}

.img8 {
    grid-area: img8;
}

.img9 {
    grid-area: img9;
}

.img10 {
    grid-area: img10;
}


img:hover {
    opacity: 1;
    
    .images {
        transform: scale(1.3);
        overflow: auto;
    }
}